@import '/styles/mixins';
@import '/styles/fonts';
@import '/styles/variables';

.cards {
    justify-content: center;
    margin: auto;
    width: 50vw;
    margin-top: 2rem;
}

.card {
    background-color: $hoverColor;
    border-radius: 24px;
    margin-bottom: 2rem;

    &__title {
        display: flex;

    }

    &__content {
        font-size: 25px;
    }
}